        footer {
            background-color: #111;
            padding: 1.5rem 5%;
            text-align: center;
            color: #aaa;
            border-top: 1px solid #333;
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            margin-top: 40px;
        }

        footer p {
            margin: 0;
        }

        footer span {
            color: #C2F9BB;
            font-size: 1rem;
        }

        footer a {
            margin: 0 0.5rem;
            color: #aaa;
            text-decoration: none;
            transition: color 0.3s;
        }

        footer a:hover {
            color: #C2F9BB;
        }

        .navigation {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.7);
      display: flex;
      justify-content: center;
      z-index: 10;
      padding: 1rem 0;
      backdrop-filter: blur(5px);
    }
    .navigation ul {
      list-style: none;
      display: flex;
      gap: 3rem;
      margin: 0;
      padding: 0;
    }
    .navigation ul li a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      transition: color 0.3s;
    }
    .navigation ul li a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      left: 0;
      bottom: -5px;
      background-color: #C2F9BB;
      transition: width 0.3s;
    }
    .navigation ul li a:hover {
      color: #C2F9BB;
    }
    .navigation ul li a:hover::after {
      width: 100%;
    }